{% extends "base.html" %}
{% block content %}
<script src="/static/blockly_compressed.js"></script>
<script src="/static/blocks_compressed.js"></script>
<script src ="/static/msg/js/en.js"> </script>
<script src ="/static/donkey_blockly.js"> </script>
<script src ="/static/javascript_compressed.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/mobile-detect@1.4.4/mobile-detect.min.js"></script>

<div class="container">
  <button id ="stop">Emergency shutdown </button>
  <button onclick="runCode()">Run Blockly</button>
  <button onclick="check()">load</button>
  <button onclick="save()">save</button>
  <button id="btn_l"></button>
</div>

<div id ="blocklyDiv"style ="height:75vh;width:100%;"></div>

<xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
  <category name="Donkey">
    <block type="turn_left">
      <field name="T_L">Turn left</field>
      <field name="angle">Angle: (0 - 1)</field>
    </block>
    <block type="record"></block>
    <block type="turn_right">
      <field name="T_R">Turn right</field>
      <field name="angle">Angle: (0 - 1)</field>
    </block>
    <block type="go_forward">
      <field name="G_F">Go forward</field>
      <field name="throttle">Throttle: (0 - 1)</field>
    </block>
    <block type="go_backward">
      <field name="G_B">Go_backward</field>
      <field name="throttle">Throttle: (0 - 1)</field>
    </block>
    <block type="hold_time">
      <field name="hold_time_value" id="2fpW*u^ItPLx@p7mp6dY">hold_time</field>
    </block>
  </category>
  <category name="Logic">
    <block type="controls_if"></block>
    <block type="logic_ternary"></block>
    <block type="logic_compare">
      <field name="OP">EQ</field>
    </block>
    <block type="logic_operation">
      <field name="OP">AND</field>
    </block>
    <block type="logic_negate"></block>
    <block type="logic_null"></block>
    <block type="logic_boolean">
      <field name="BOOL">TRUE</field>
    </block>
  </category>
  <category name="Loops">
    <block type="controls_forEach" inline="false">
      <field name="VAR" id="[oE{4p]kcT8(w7XX4`M4">j</field>
    </block>
    <block type="controls_repeat_ext">
      <value name="TIMES">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
    </block>
    <block type="controls_whileUntil">
      <field name="MODE">WHILE</field>
    </block>
    <block type="controls_for">
      <field name="VAR" id="mnn+bTX%ZRc]A;[d6DPU">i</field>
      <value name="FROM">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="TO">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
      <value name="BY">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
    <block type="controls_forEach">
      <field name="VAR" id="[oE{4p]kcT8(w7XX4`M4">j</field>
    </block>
  </category>
  <category name="Variables" colour="#a55b80" custom="VARIABLE"></category>
  <category name="Math">
    <block type="math_number">
      <field name="NUM">0</field>
    </block>
    <block type="math_arithmetic">
      <field name="OP">ADD</field>
      <value name="A">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="B">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
    <block type="math_on_list">
      <mutation op="SUM"></mutation>
      <field name="OP">SUM</field>
    </block>
    <block type="math_single">
      <field name="OP">ROOT</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">9</field>
        </shadow>
      </value>
    </block>
    <block type="math_modulo">
      <value name="DIVIDEND">
        <shadow type="math_number">
          <field name="NUM">64</field>
        </shadow>
      </value>
      <value name="DIVISOR">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
    </block>
    <block type="math_trig">
      <field name="OP">SIN</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">45</field>
        </shadow>
      </value>
    </block>
    <block type="math_constrain">
      <value name="VALUE">
        <shadow type="math_number">
          <field name="NUM">50</field>
        </shadow>
      </value>
      <value name="LOW">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="HIGH">
        <shadow type="math_number">
          <field name="NUM">100</field>
        </shadow>
      </value>
    </block>
    <block type="math_constant">
      <field name="CONSTANT">PI</field>
    </block>
    <block type="math_number_property">
      <mutation divisor_input="false"></mutation>
      <field name="PROPERTY">EVEN</field>
      <value name="NUMBER_TO_CHECK">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
    </block>
    <block type="math_random_int">
      <value name="FROM">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="TO">
        <shadow type="math_number">
          <field name="NUM">100</field>
        </shadow>
      </value>
    </block>
    <block type="math_random_float"></block>
    <block type="math_round">
      <field name="OP">ROUND</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">3.1</field>
        </shadow>
      </value>
    </block>
  </category>
  <category name="Text">
    <block type="text">
      <field name="TEXT"></field>
    </block>
    <block type="text_join">
      <mutation items="2"></mutation>
    </block>
    <block type="text_append">
      <field name="VAR" id="o1EFe5Sn77t2+F:5BpZc">item</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT"></field>
        </shadow>
      </value>
    </block>
    <block type="text_length">
      <value name="VALUE">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_print">
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_isEmpty">
      <value name="VALUE">
        <shadow type="text">
          <field name="TEXT"></field>
        </shadow>
      </value>
    </block>
    <block type="text_indexOf">
      <field name="END">FIRST</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="*{YSlV`P`}OM8deGA*(?">text</field>
        </block>
      </value>
      <value name="FIND">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
  </category>
  <category name="Lists">
    <block type="lists_create_with">
      <mutation items="0"></mutation>
    </block>
    <block type="lists_create_with">
      <mutation items="3"></mutation>
    </block>
    <block type="lists_repeat">
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">5</field>
        </shadow>
      </value>
    </block>
    <block type="lists_length"></block>
    <block type="lists_isEmpty"></block>
    <block type="lists_indexOf">
      <field name="END">FIRST</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="]q~6#)L@Y_.@,@4O;D)n">list</field>
        </block>
      </value>
    </block>
  </category>
  <category name="Functions">
    <block type="procedures_defnoreturn">
      <field name="NAME">do something</field>
      <comment pinned="false" h="80" w="160">Describe this function...</comment>
    </block>
    <block type="procedures_callnoreturn">
      <mutation name="do something"></mutation>
    </block>
  </category>
</xml>


<script type="text/javascript">
	var uid = null;
	var c_n=readCookie("__email");
	var c_p=readCookie("__pass");
	var url=null;
	var popup_p;
	var checklogin=false;
	var email = null;
	var md = new MobileDetect(window.navigator.userAgent);
	if(md.os()!=null){
	$('#navbar_a').hide();
	console.log(md.os());
	}
  $( document ).ready(function() {
    console.log( "blockly document ready!" ); 
	driveURL = '/blockly'
	url=window.location.href;
	var xml = "";
	init();
	


	
	
  });
  
  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}
  function init(){
  firebase.initializeApp(firebaseConfig);
  var database = firebase.database(); 
  firebase.analytics();
  if(c_n ==null){
  console.log(document.cookie);
  }else{  
	console.log("not")}
	window.addEventListener("message", receiveMessage, false) ;
	function receiveMessage(event) {
    var origin= event.origin;
		login(event.data.e,event.data.p);
		//console.log(n+p);
     }
	 
	firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    // User is signed in.
    var displayName = user.displayName;
    email = user.email;
    var emailVerified = user.emailVerified;
    var photoURL = user.photoURL;
    var isAnonymous = user.isAnonymous;
    uid = user.uid;
    var providerData = user.providerData;
	//$("#login_text").addClass("d-none");
	//$("#logout").removeClass("d-none");
	$("#btn_l").html(email+" Logout")
	checklogin=true;
    // ...
  } else {
    // User is signed out.
   $("#btn_l").html("Login")
	checklogin=false;
	console.log("out")
	//$("#login_text").removeClass("d-none");
	
	if(c_n!=null){
	login(c_n,c_p);
	}
  }
});

	 
  }
  
  
  var state = {'tele': {
                          "user": {
                                  'angle': 0,
                                  'throttle': 0,
                                  },
                          "pilot": {
                                  'angle': 0,
                                  'throttle': 0,
                                  }
                          },
                  'brakeOn': true,
                  'recording': false,
                  'driveMode': "user",
                  'pilot': 'None',
                  'session': 'None',
                  'lag': 0,
                  'controlMode': 'joystick',
                  'maxThrottle' : 1,
                  'throttleMode' : 'user',
                  }
  
  
	
	
	
	function stop(p1,p2){
	data = JSON.stringify({ 'angle': p1,
                                'throttle':p2,
                                'drive_mode':state.driveMode,
                                'recording': state.recording})
	console.log(data)							
	return $.post(driveURL, data)
	}
	$( "#run" ).click(function() {
	   data = JSON.stringify({ 'angle': state.tele.user.angle,
                                'throttle':0.2,
                               'drive_mode':state.driveMode,
                               'recording': true})
		console.log(data)
		//console.log(code)
		//console.log("send completed")
		//setTimeout('stop(0,0)',2000)
		
		return $.post(driveURL, data)

				

	});
	
	
	$( "#stop" ).click(function() {
	data = JSON.stringify({ 'angle': 0,
                                'throttle':0,
                                'drive_mode':"user",
                                'recording': false})
	console.log(data)
	$.post(driveURL, data)
	console.log("send completed")							
	});
	
	 var postDrive = function() {

        //Send angle and throttle values
        data = JSON.stringify({ 'angle': state.tele.user.angle,
                                'throttle':state.tele.user.throttle,
                                'drive_mode':state.driveMode,
                                'recording': state.recording})
        console.log(data)
        $.post(driveURL, data)
       
    };
	
	var throttleUp = function(p1){
	
     state.tele.user.throttle = state.tele.user.throttle + p1
	 //console.log(typeof p1)
      postDrive()
    };
	var throttleDown = function(p1){
      state.tele.user.throttle =state.tele.user.throttle- p1
      postDrive()
    };
	 var angleLeft = function(p1){
      state.tele.user.angle = state.tele.user.angle-p1
      postDrive()
    };
	 var angleRight = function(p1){
      state.tele.user.angle = state.tele.user.angle+p1
      postDrive()
    };
	var carstop = function(p1){
	state.tele.user.angle= 0
	state.tele.user.throttle =0
	state.driveMode = "user"
	state.recording= false
	p1 = p1 *1000
	console.log(p1)
	setTimeout(postDrive, p1);
	}

  
</script>

<script>

	function runCode(){
	window.LoopTrap = 1000;
	Blockly.JavaScript.INFINITE_LOOP_TRAP =
          'if (--window.LoopTrap == 0) throw "Infinite loop.";\n';
	var code = Blockly.JavaScript.workspaceToCode(workspace);
	Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
	try{
	eval(code);
	}catch(e){
	alert(e);
	}
	}
	var load=function(){
	
	userId = uid;
	if (userId==null){
	var local = localStorage.getItem("blockly")
	
	xml = Blockly.Xml.textToDom(local);
	Blockly.Xml.domToWorkspace(xml, workspace);
	}else{
	firebase.database().ref('/users/' + userId).once('value').then(function(snapshot) {
	xml = (snapshot.val() && snapshot.val().xml) || 'Anonymous';
	console.log(xml);
	xml=Blockly.Xml.textToDom(xml);
	Blockly.Xml.domToWorkspace(xml, workspace);
	});
	}

	}
	var save = function(){
	if (uid==null){
	xml = Blockly.Xml.workspaceToDom(workspace);
	xml_text = Blockly.Xml.domToText(xml);
	alert("You are not logged in \n So the blockly just save in  the browser")
	localStorage.setItem("blockly", xml_text);
	}else{
	xml = Blockly.Xml.workspaceToDom(workspace);
	//console.log(xml);
	xml_text = Blockly.Xml.domToText(xml);
	//console.log(xml_text);
	var today = new Date();
	var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
	var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
	var dateTime = date+' '+time;
	writeUserData(uid,email,xml_text,dateTime);
	}
	
	}
	var firebaseConfig = {
    apiKey: "AIzaSyC_GQRs05a4TSOBMgBsutQvWnjazwlrlI4",
    authDomain: "donkey-car.firebaseapp.com",
    databaseURL: "https://donkey-car.firebaseio.com",
    projectId: "donkey-car",
    storageBucket: "donkey-car.appspot.com",
    messagingSenderId: "548947920388",
    appId: "1:548947920388:web:e026cd59f3dffab6d61751",
    measurementId: "G-LH8PHPL4PS"
  };
  function writeUserData(userId, email, xml,time) {
  firebase.database().ref('users/' + userId).set({
    email: email,
    xml : xml,
	time:time
  });
}
    var popup=function(){
//	if(checklogin ==false){
	popup_p=window.open("https://donkey-car.web.app/login.html","_blank", "width=400,height=505");
  }
	document.getElementById('btn_l').addEventListener('click',function(){
	if(checklogin==false){
		popup();
		
	}else{
	logout();
	}
	});

var logout=function(){
firebase.auth().signOut();
document.cookie = "__email=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
document.cookie = "__pass=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
}
var login=function(p1,p2){
  firebase.auth().signInWithEmailAndPassword(p1, p2).then(function(){
	alert("Login completed")
	document.cookie= '__email='+p1+';max-age=3600';
	document.cookie= '__pass='+p2+';max-age=3600';
	//popup_p.postMessage("ok",'*');
	$("#btn_l").html(p1);
	
 }).catch(function(error) {
		//console.log("login");
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        // [START_EXCLUDE]
        if (errorCode == 'auth/weak-password') {
          alert('The password is too weak.');
        } else {
          alert(errorMessage);
        }
        console.log(error);
        // [END_EXCLUDE]
      });
      // [END createwithemail]
  }
var check=function(){
setTimeout(load, 1000);
}
  
 


</script>
<script>
Blockly.JavaScript['turn_left'] = function(block) {
  var value_turn_left = Blockly.JavaScript.valueToCode(block, 'Angle', Blockly.JavaScript.ORDER_ATOMIC);
  // TODO: Assemble JavaScript into code variable.
 if(value_turn_left>1){
  alert("cant hight than 1")
  }else if (value_turn_left == 0){
  alert("can not set zero data")
  }else{
  value_turn_left=Number(value_turn_left)
  angleLeft(value_turn_left)

  }
  var code = '\n';
  return code;
  
};

Blockly.JavaScript['turn_right'] = function(block) {
  var value_turn_right = Blockly.JavaScript.valueToCode(block, 'Angle', Blockly.JavaScript.ORDER_ATOMIC);
  // TODO: Assemble JavaScript into code variable.
  if (value_turn_right>1){
  alert("can't ")
  }else if (value_turn_right == 0){
  alert("can not set zero data")
  }else{
  value_turn_right=Number(value_turn_right)
  angleRight(value_turn_right)

  }
  var code = '\n';
  return code;
};

Blockly.JavaScript['go_forward'] = function(block) {
  var value_go_forward = Blockly.JavaScript.valueToCode(block, 'Throttle', Blockly.JavaScript.ORDER_ATOMIC);
  value_go_backward=Number(value_go_forward)
  // TODO: Assemble JavaScript into code variable.
  if(value_go_forward>1){
  alert("cant hight than 1")
  }else if (value_go_forward == 0){
  alert("can not set zero data")
  }else{
  value_go_forward=Number(value_go_forward)
  throttleUp(value_go_forward)
  
  

  }
  //console.log(value_go_forward)
  var code = '\n';
  return code;

};

Blockly.JavaScript['go_backward'] = function(block) {
  var value_go_backward= Blockly.JavaScript.valueToCode(block, 'Throttle', Blockly.JavaScript.ORDER_ATOMIC);
  // TODO: Assemble JavaScript into code variable.
   if (value_go_backward>1){
	alert("can't ")
  }else if (value_go_backward == 0){
	alert("can not set zero data")
  }else{
	value_go_backward=Number(value_go_backward)
	throttleDown(value_go_backward)

  }
  var code = '\n';
  return code;
  
};
Blockly.JavaScript['hold_time'] = function(block) {
  var variable_hold_time_value = Blockly.JavaScript.variableDB_.getName(block.getFieldValue('hold_time_value'), Blockly.Variables.NAME_TYPE);
  var value_hold_time = Blockly.JavaScript.valueToCode(block, 'hold_time', Blockly.JavaScript.ORDER_ATOMIC);
  // TODO: Assemble JavaScript into code variable.
 // console.log(variable_hold_time_value)
 // console.log(value_hold_time )
  if (value_hold_time < 0){
  alert("can not set less than 0")
  }else{
	carstop(value_hold_time)
	
  }
 
  
  var code = '\n';
  return code;
};
Blockly.JavaScript['record'] = function(block) {
  var value_user_record = Blockly.JavaScript.valueToCode(block, 'user_record', Blockly.JavaScript.ORDER_ATOMIC);
  // TODO: Assemble JavaScript into code variable.
  if (value_user_record==""){
  alert('can not set null booleam')
  }else{
  state.recording = value_user_record;
  }
  console.log(value_user_record)
  var code = '\n';
  return code;
};
	var workspace = Blockly.inject('blocklyDiv',
      {toolbox: document.getElementById('toolbox'),
	  zoom:
         {controls: true,
          wheel: true,
          startScale: 1.0,
          maxScale: 3,
          minScale: 0.3,
          scaleSpeed: 1.2},
     trashcan: true
	  });
	Blockly.JavaScript.addReservedWords('code');
	var code = Blockly.JavaScript.workspaceToCode(workspace);  

</script

{% end %}